#navbar {
  max-width: 100%;
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: black !important;
  transition: background-color 0.3s ease;
}
#navlink {
  color: #fff;
  font-size: large;
  position: relative;
  text-decoration: none;
}

#navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: ease-in-out;
}

#navlink:hover::after {
  width: 100%;
}
#navbtn {
  position: relative;
  text-decoration: none;
}
#navbtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: ease-in-out;
}
#navbtn:hover::after {
  width: 100%;
}
#navbtn a {
  border-radius: 50px;
}
#navbtn a:hover {
  color: #000;
}
@media (max-width: 768px) {
  .navbar {
    background-color: #000;
    padding: 2px 0;
  }
  #navlink {
    font-size: 15px !important;
  }
  #logo {
    width: 115px !important;
  }
  .navbar-collapse {
    height: 290px;
  }
}
@media (max-width: 480px) {
  .navbar {
    background-color: #000;
    height:fit-content !important;
  }
  #navlink {
    font-size: 12px !important;
  }
  #logo {
    width: 100px !important;
  }
  .navbar-collapse {
    height: 250px;
  }
}